extends layout

block content
  // iMac
  .row
    .col-1
    .col-3.my-auto
      h5 27英寸
      h1 iMac
      h4 一体式，多面手。
      p <br/>
      button.btn.btn-primary.btn-round.px-3 购买<br/>
    .col-8
      img.img-fluid.w-100(src='mac-1.jpg')

  .row.gap-md
  // Macbook Pro
  .row
    .col-8.my-auto
      img(src='mac-2.jpg')
    .col-3.my-auto
      h5 13英寸
      h1 MacBook Pro
      h4 动力，行动力。
      p <br/>
      button.btn.btn-primary.btn-round.px-3 购买<br/>
    .col-1