extends layout

block content
  // iPhone SE
  .row.justify-content-center
    .col-5.my-auto
      .d-flex.flex-row
        h5.mr-2 iPhone
        button.btn-sm.btn.btn-outline-dark.py-0.px-1(style="height:25px") SE
      h1 称心称手，
      h1 超值入手。
      h4 RMB 3299 起
      p 折抵换购，仅 RMB 96/月或 RMB 2299 起*。
      p <br/>
      button.btn.btn-primary.btn-round.px-3 购买<br/>
    .col-5
      img(src='iphone-1.jpg')

  .row.gap-md
  // iPhone 11
  .row.justify-content-center
    .col-5
      img.img-fluid.w-100(src='iphone-2.jpg')
    .col-5.my-auto.pl-md
      h5 iPhone 11
      h1 一切都刚刚好。
      p 折抵换购，仅 RMB 175/月或 RMB 4199 起*。
      p <br/>
      button.btn.btn-primary.btn-round.px-3 购买<br/>

  .row.gap-md
  // iPhone 11 Pro
  .row.justify-content-center
    .col-5.my-auto
      h5 iPhone 11 Pro
      h1 摄像头、显示屏、性能，
      h1 样样 Pro 如其名。
      p 折抵换购，仅 RMB 283/月或 RMB 6799 起*。
      p <br/>
      button.btn.btn-primary.btn-round.px-3 购买<br/>
    .col-5
      img(src='iphone-3.jpg')